.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url("/1.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.portadaAlbum{
  display:flex;
  flex-direction: column;
}
.botonFav{
  width:80px;
  height: 30px;
}
.botonesMain{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.buscar{
  width: 600px;
  height: 200px;
  background-color: #D4B185;
  font-size: 20;
}
.favs{
  width: 600px;
  height: 200px;
  background-color: #D4B185;
  font-size: 20;
}
.titulo{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
  margin-top: 50px;
  font-size: 25;
}